<div class="space-y-5 flex flex-col">
    <a href="/out" class="bg-sky-200 p-3 rounded-xl border-2 border-neutral-500 text-center mt-3">logout</a>
    <h1 class="text-6xl text-rose-400"><b>logout page</b></h1>
</div>