<div class="grid justify-items-center space-y-8">
    <p>zalogowany user to: <span class="text-red-700">{{text}}</span></p>
    <p>zostaniesz automatycznie wylogowany za 30 sekund</p>
    <div class="text-rose-100 space-x-2 w-fit flex">
        <div class="bg-teal-600 p-2 min-w-24 text-center rounded-xl">
            <a href="/" class="font-semibold">INDEX</a>
        </div>
        <div class="bg-teal-600 p-2 min-w-24 text-center rounded-xl">
            <a href="/logout" class="font-semibold">LOGOUT</a>
        </div>
    </div>
    <h1 class="text-6xl text-rose-400"><b>index 2 page</b></h1>
</div>
<script src="js/index.js"></script>