<div class="grid justify-items-center space-y-8">
    <h1 class="text-xl font-semibold">cookie authentication</h1>
    <div class="text-rose-100 space-x-2 w-fit flex">
        <div class="bg-teal-600 p-2 min-w-24 text-center rounded-xl">
            <a href="/" class="">LOGIN</a>
        </div>
        <div class="bg-teal-600 p-2 min-w-24 text-center rounded-xl">
            <a href="/" class="">INDEX</a>
        </div>
        <div class="bg-teal-600 p-2 min-w-24 text-center rounded-xl">
            <a href="" class="">INDEX2</a>
        </div>
    </div>
    <form action="/registerForm" method="post" id="form" class="space-y-3 flex flex-col">
        <input class="border-2 border-neutral-500 rounded-md min-h-8 p-1" id="name" type="text" name="name" placeholder="Enter name"><br>
        <input class="border-2 border-neutral-500 rounded-md min-h-8 p-1" id="p1" type="password" name="pass" placeholder="Enter pass"><br>
        <input class="border-2 border-neutral-500 rounded-md min-h-8 p-1" id="p2" type="password" placeholder="Confirm pass"><br>
        <button type="submit" class="bg-sky-200 p-3 rounded-xl border-2 border-neutral-500">Register</button>
    </form>
    <h1 class="text-6xl text-rose-400"><b>register page</b></h1>
</div>
<script src="js/register.js"></script>